.container {
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  // margin-left: 15px;
  // margin-right: 15px;
  @media screen and (min-width: $tablet-screen) {
    max-width: 798px;
  }

  @media screen and (min-width: $desktop-screen) {
    max-width: 1230px;
  }
}
