.header {
  background-color: $white-text;
  border-bottom: 1px solid #ececec;
}

.header > .nav {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}

.site-pages {
  text-align: center;

  @media screen and (min-width: $tablet-screen) {
    display: flex;
  }
}
.site-pages .item {
  margin-bottom: 40px;
  @media screen and (min-width: $tablet-screen) {
    margin-bottom: 0;
  }
}
.site-pages > .item a {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  @media screen and (min-width: $tablet-screen) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-link {
  text-align: center;
}

.contact-link > .item a {
  // display: inline-flex;
  // align-items: center;
}

.site-pages > .item:first-child {
  padding-top: 60px;
  @media screen and (min-width: $tablet-screen) {
    padding-top: 0;
  }
}

.site-pages > .item:last-child,
.contact-link > .item:last-child {
  margin-bottom: 60px;
  @media screen and (min-width: $tablet-screen) {
    margin-bottom: 0;
  }
}

.contact-link > .item {
  margin-bottom: 16px;
  @media screen and (min-width: $tablet-screen) {
    margin-bottom: 10px;
    text-align: left;
  }
}

.item.flex {
  // display: flex;
}

.contact-link {
  // display: flex;
  // align-items: center;
  // margin-left: auto;
}

.site-pages > .item:not(:last-child) {
  @media screen and (min-width: $tablet-screen) {
    margin-right: 50px;
  }
}
.contact-link > .item:not(:last-child) {
  // margin-right: 30px;
}

.icon-letter {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphote {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

.active.page.set::after,
.site-pages > .item > a:hover::after,
.site-pages > .item > a:focus::after {
  opacity: 1;
}

.site-pages > .item > a::after {
  content: '';
  width: 100%;
  opacity: 0;
  height: 4px;
  background-color: $blue-text;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;

  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.active.page {
  color: $blue-text;
  position: relative;
}
