// .strong-side-list {
//   display: flex;
//   align-items: center;
// }

.strong-side-list {
  @media screen and (min-width: $tablet-screen) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.strong-side-list > li {
  @media screen and (min-width: $tablet-screen) {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: $desktop-screen) {
    width: calc((100% - 4 * 30px) / 4);
  }
}
.section-strong-side {
  @extend %section;
}

.icon-antena,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  display: block;
  height: 70px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  margin: 15px 0;
}

.section-strong-side h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.section-strong-side p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}
