.hero h1 {
  color: $white-text;
  max-width: $mobil-screen;
  min-width: 320px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 46px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $tablet-screen) {
    max-width: $tablet-screen;
  }

  @media screen and (min-width: $desktop-screen) {
    max-width: $desktop-screen;
  }
}

.hero {
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  background-repeat: no-repeat;
  max-width: 480px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/header-img-480.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/header-img-480@2x.jpg');
  }

  @media screen and (min-width: $tablet-screen) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/header-img-768.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../images/header-img-768@2x.jpg');
    }
    max-width: $tablet-screen;
  }

  @media screen and (min-width: $desktop-screen) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/header-img-1200.jpg');

    @media screen and (min-width: $desktop-screen) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url('../images/header-img-1200@2x.jpg');
    }

    max-width: 1600px;
    max-height: none;
  }
}
.hero-container {
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: $desktop-screen) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
