.section-we-do {
  @extend %section;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.section-we-do h3 {
  color: $white-text;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
}

.list-we-do {
  display: flex;
  justify-content: center;
}
.list-we-do img {
  display: block;
}

.list-we-do > .item:not(:last-child) {
  margin-right: 30px;
}

.section-we-do h2 {
  @extend %section-h2;
  text-align: center;
}

.cover {
  position: relative;
  z-index: -1;
}
.cover-text {
  position: absolute;
  width: 100%;
  bottom: 0;
}
