.section-customers {
  @extend %section;
}

.section-customers {
  padding-bottom: 60px;
}
.section-customers h2 {
  @extend %section-h2;
}

.list-customer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.list-customer .item {
  margin: 15px;
}

// .list-customer > .item:not(:last-child) {
//   margin-right: 30px;
// }
.list-customer > .item a {
  width: 208px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms $timing-function, border 250ms $timing-function;
}

.icon-customer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.list-customer > .item a:hover,
.list-customer > .item a:focus {
  border: 1px solid #2196f3;
  --color1: #2196f3;
}

.list-customer > .item img {
  padding-left: 60px;
  padding-top: 27px;
}

.logo1 {
  width: 45px;
  height: 50px;
}
.logo2 {
  width: 40px;
  height: 52px;
}
.logo3 {
  width: 41px;
  height: 43px;
}
.logo4 {
  width: 80px;
  height: 42px;
}
.logo5 {
  width: 59px;
  height: 47px;
}
.logo6 {
  width: 89px;
  height: 46px;
}
