%section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%section-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

%a {
  color: $black-text;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    color: $blue-text;
    fill: currentColor;
  }
}
