%section {
  padding-top: 60px;
  padding-bottom: 60px;
}

%section-h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}

%a {
  color: $black-text;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    color: $blue-text;
    fill: currentColor;
  }
}
