/* #757575 grey text main */
/* #212121 black title snd big words */
/* #FFFFFF white */
/* #2196F3 blue logo and buttons */
/* rgba(255, 255, 255, 0.6) foorete text */
/* #2F303A background footer */
/* #E5E5E5 background body */

  $grey-text: #757575;
  $black-text: #212121;
  $white-text: #ffffff;
  $blue-text: #2196f3;
  $darck-grey: #2f303a;
  $grey-text-footer: rgba(255, 255, 255, 0.6);
  $oul-line: 1px solid #2196f3;
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  $mobil-screen: 480px;

  $tablet-screen: 768px;

  $desktop-screen: 1200px;